.form-group {
    margin-bottom: 16px;
    position: relative;

    &__label {
        display: block;
        font-weight: 500;
        font-size: 9px;
        line-height: 9px;
        color: #9898B0;
        margin-bottom: 8px;
    }

    &__input {
        width: 100%;
        border-radius: 5px;
        border: 1px solid var(--primary-color);
        background-color: var(--primary-color);
        padding: 10px 16px;
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;

        color: var(--light-color);

        ::placeholder {
            color: #9898B0;
        }

        &_lighter {
            background: var(--dark-color);
        }
    }

    &__help-box {
        margin: 0;
        padding: 0;
        position: absolute;
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 8px;
    }

    &_has-error {
        .form-group {
            &__input {
                border-color: #F44D4D;
            }

            &__hint {
                color: #F44D4D;
            }
        }
    }
}
