.input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--primaryColor);
  background-color: var(--primaryColor);
  padding: 10px 16px;
  font-weight: var(--baseFontWeight);
  font-size: 13px;
  line-height: 13px;
  color: var(--lightColor);

  ::placeholder {
    color: var(--chatListItemAltColor);
  }

  &_lighter {
    background: var(--darkColor);
  }
}
