.back-button-wrapper {
    $blockPadding: 64px;

    height: 100%;
    display: flex;

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $blockPadding;
        flex-shrink: 0;
        background-color: var(--primary-color);
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: var(--primary-color-darken);

            .back-button-wrapper__link-inner {
                background-color: var(--secondary-color-darken);
            }
        }
    }

    &__link-inner {
        border-radius: 50%;
        width: 28px;
        height: 28px;
        background: var(--secondary-color) url(../../../static/images/back-arrow.svg) no-repeat 50% 50%;
        transition: background-color 0.2s ease-in-out;

    }

    &__content {
        padding: $blockPadding;
        padding-right: $blockPadding * 2;
        background-color: var(--dark-color);
        flex: 1;
        overflow: auto;
    }
}
