<div class="back-button-wrapper">
  <a class="back-button-wrapper__link" href="{{#if route}}{{routes route}}{{else}}/{{/if}}">
    <span class="back-button-wrapper__link-inner"></span>
  </a>
  <div class="back-button-wrapper__content custom-scrollbar">
    <div class="back-button-wrapper__content-inner">
      {{> @partial-block}}
    </div>
  </div>
</div>