.back-button-wrapper {
    $blockPadding: 64px;

    height: 100%;
    display: flex;

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $blockPadding;
        flex-shrink: 0;
        background-color: #252838;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: lighten(#252838, 2%);

            .back-button-wrapper__link-inner {
                background-color: lighten(#149A80, 2%);
            }
        }
    }

    &__link-inner {
        border-radius: 50%;
        width: 28px;
        height: 28px;
        background: #149A80 url(../../../static/images/back-arrow.svg) no-repeat 50% 50%;
        transition: background-color 0.2s ease-in-out;

    }

    &__content {
        padding: $blockPadding;
        padding-right: $blockPadding * 2;
        background-color: #343A4F;
        flex: 1;
        overflow: auto;
    }
}