<div class='chat'>
  <aside class='chat__left-pane'>
    <a class='chat__profile-link' href='{{routes "PROFILE"}}'>Профиль</a>
    <div class='chat__search-box'>
      {{{searchBox}}}
    </div>
    <div class='chat__chat-list custom-scrollbar'>
      {{{chatList}}}
    </div>
  </aside>
  <div class='chat__right-pane'>
    {{{messenger}}}
  </div>
</div>