<div class='chat'>
  <aside class='chat__left-pane'>
    <a class='chat__profile-link'>Профиль</a>

    <div class="search-box">
        {{> input name='search' placeholder='Поиск' }}
    </div>


  </aside>
  <div class='chat__messenger'>
    <p class='chat__messenger-message'>
      Выберите чат чтобы отправить сообщение
    </p>
  </div>
</div>