.chat {
  display: flex;
  height: 100%;

  &__left-pane {
    flex: 0 0 310px;
    background-color: var(--primaryColor);
    border-right: 1px solid var(--darkColor);
    display: flex;
    flex-direction: column;
    max-width: 310px;
  }

  &__right-pane {
    flex-grow: 1;
    background-color: var(--darkColor);
  }

  &__top-links {
    display: flex;
    justify-content: space-between;
  }

  &__top-link {
    padding: 0 10px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: var(--baseFontWeight);
    font-size: var(--baseFontSize);
    line-height: 12px;
    color: var(--chatListItemAltColor);
  }

  &__profile-link {
    &::after {
      content: "";
      background: url(../../../static/images/arrow.svg) 0 50%;
      width: 6px;
      height: 10px;
      margin-left: 8px;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &__search-box {
    padding: 0 10px;
  }

  &__chat-list {
    overflow-y: auto;
    flex-grow: 1;
    border-top: 1px solid var(--darkColor);
  }
}
