.profile {
    margin: auto;
    max-width: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__avatar {
        margin-bottom: 21px;
    }

    &__display_name {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        color: #E2E2E4;
        margin-bottom: 20px;
    }

    &__rows-block-details {
        margin-top: 60px;
    }


    &__rows-block-profile-nav {
        margin-top: 60px;
    }
}

.data {
    &__rows-block {
        width: 100%;
    }

    &__rows-row-button {
        max-width: 280px;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
    }

    &__rows-row {
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        display: flex;
        margin-bottom: 10px;

        border-bottom: 1px solid #4C546F;

        &:last-child {
            border: none;
        }
    }

    &__row-param {
        flex: 1;
        color: #9898B0;
        margin-bottom: 10px;
    }

    &__row-form-control {
        text-align: right;
        border: none;
        outline: none;
        background: none;
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        /* identical to box height, or 100% */
        padding-bottom: 10px;
        margin-bottom: 0;
        text-align: right;

        color: #E2E2E4;
    }

    &__row-value {
        text-align: right;
        color: #E2E2E4;
        margin-bottom: 10px;
    }

    &__rows-row-link {
        display: block;
        margin-bottom: 10px;

        &_color-red {
            color: #F44D4D
        }
    }
}