.message-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &__attachments-button {
        &-icon {
            background-image: url(../../../../../static/images/clip.svg);
            width: 22px;
            height: 24px;
        }
    }

    &__input-container {
        flex: 1;
        padding-left: 20px;
        padding-right: 20px;
    }

    &__input {
        resize: none;
        width: 100%;
        font-family: inherit;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        border: none;
        background: transparent;
        height: 28px;
        padding-top: 8px;
        padding-bottom: 8px;
        color: #fff;
        vertical-align: middle;

        &::placeholder {
            color: #9898B0;
        }
    }

    &__send-button {
        &-icon {
            background-image: url(../../../../../static/images/enter-arrow.svg);
            width: 13px;
            height: 12px;
        }
    }

}
