.message-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__attachments-button {
    &-icon {
      background-image: url(../../../../../static/images/clip.svg);
      width: 22px;
      height: 24px;
    }
  }

  &__input-container {
    flex: 1;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__send-button {
    &-icon {
      background-image: url(../../../../../static/images/enter-arrow.svg);
      width: 13px;
      height: 12px;
    }
  }
}
