<div class='messenger'>
  {{#if chat}}
    <div class='messenger__header'>
      <div class='messenger__chat-info'>
          <span class='messenger__chat-avatar' 
            {{#if chat.avatar}}style='background-image:url({{chat.avatar}})'{{/if}}></span>
          <span class='messenger__chat-name'>{{chat.name}}</span>
      </div>
      <div class='messenger__actions'>
        {{#>button style='icon messenger__dots-button' type='button'}}
          <span class='dot'></span>
          <span class='dot'></span>
          <span class='dot'></span>
        {{/button}}
      </div>
    </div>
    <div class='messenger__body custom-scrollbar'>
      <div class='messenger__inner'>
        <div class='messenger__message-list'>
          {{#each messages}}
            {{>message this}}
          {{/each}}
        </div>
      </div>
    </div>
    <div class='messenger__footer'>
        {{>message-form}}
    </div>
  {{else}}
    <div class='messenger__empty messenger__empty_centered'>
      <p class='messenger__alert'>
        Выберите чат чтобы отправить сообщение
      </p>
    </div>
  {{/if}}
</div>