.messenger {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__inner {
    display: flex;
  }

  &__message-list,
  &__inner {
    min-height: 100%;
  }

  &__alert {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #fff;
    margin-bottom: 0;
  }

  &__empty {
    display: flex;
    flex: 1;

    &_centered {
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }

  &__dots-button {
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;

    .dot {
      width: 3px;
      height: 3px;
      display: block;
      background: #fff;
      border-radius: 50%;

      + .dot {
        margin-top: 3px;
      }
    }
  }

  &__actions:hover {
    .messenger__dots-button {
      background: #353a51;

      .dot {
        background: var(--secondaryColor);
      }
    }
  }

  &__chat-name {
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    color: var(--lightColor);
  }

  &__chat-avatar {
    width: 34px;
    height: 34px;
    flex-shrink: 0;
    margin-right: 10px;
    background: var(--darkColor) no-repeat 50% 50%;
    background-size: cover;
    border-radius: 50%;
  }

  &__chat-info {
    display: flex;
    align-items: center;
  }

  &__body {
    flex: 1;
    overflow: auto;
  }

  &__message-list {
    padding: 20px 20px 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
  }

  &__header,
  &__footer {
    background: var(--primaryColor);
    flex-shrink: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__header {
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__footer {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
