.form-group {
  margin-bottom: 24px;
  position: relative;

  &__label {
    display: block;
    font-weight: var(--baseFontWeight);
    font-size: 9px;
    line-height: 9px;
    color: var(--chatListItemAltColor);
    margin-bottom: 8px;
  }
}

.message-form .form-group {
  margin-bottom: 0;
}
