{{#>centeredBox title='Авторизация'}}
    <form>
        {{{loginFormGroup}}}
        {{{passwordFormGroup}}}
        {{{submitButton}}}
    </form>
    <a class='text-center d-block mt-1' href='{{routes 'SIGNUP'}}'>Регистрация</a>
{{/centeredBox}}
