<div class='modal'>
  <div class="modal__content">
    {{#if title}}
    <div class="modal__head">
      <p class="modal__title">{{title}}</p>
    </div>
    {{/if}}
    <div class="modal__body">
        {{> @partial-block}}
    </div>
  </div>
  <div class="modal__backdrop"></div>
</div>
