<div class="centered-box">
    <div class="centered-box__inner">
        {{#if title}}
            <p class="centered-box__title">{{title}}</p>
        {{/if}}
        {{> @partial-block}}
    </div>
</div>