{{#>backButtonWrapper route='CHAT'}}
<div class='profile'>
    <div class='profile__avatar'>
        {{>avatar}}
    </div>

    <form class='data__rows-block profile__rows-block-details'>
        <div class='data__rows-row'>
            <label for='oldPassword' class='data__row-param'>Текущий пароль</label>
            <input type='password' id='oldPassword' name='oldPassword' class='data__row-form-control'
                placeholder='********************'>
        </div>
        <div class='data__rows-row'>
            <label for='newPassword' class='data__row-param'>Новый пароль</label>
            <input type='password' id='newPassword' name='newPassword' class='data__row-form-control'
                placeholder='********************'>
        </div>
        <div class='data__rows-row'>
            <label for='newPassword2' class='data__row-param'>Повторить пароль</label>
            <input type='password' id='newPassword2' name='newPassword2' class='data__row-form-control'
                placeholder='********************'>
        </div>
      
        <div class='data__rows-row data__rows-row-button'>
        {{#>button}}Сохранить{{/button}}
        </div>
    </form>
</div>
{{/backButtonWrapper}}