{{#>centeredBox title='Регистрация'}}
    <form method='post'>
        {{> input label='Имя' name='first_name'}}
        {{> input label='Фамилия' name='second_name'}}
        {{> input label='Имя пользователя' name='login'}}
        {{> input label='E-mail' type='email' name='email'}}
        {{> input label='Пароль' type='password' name='password' }}
        {{> input label='Номер телефона' type='tel' name='phone'}}
        {{{submitButton}}}
    </form>
    <a class='text-center d-block mt-1' href='{{routes 'SIGNIN'}}'>Уже зарегистрированы?</a>
{{/centeredBox}}
