@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #252838;
    color: #E2E2E4;
}

a {
    color: #149A80;
    text-decoration: none;
}

p {
    margin-top: 0;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none
}

nav,
footer,
header,
aside {
    display: block
}

* {
    box-sizing: border-box;
}


#app {
    width: 100%;
    height: 100%;
}

.text-center {
    text-align: center;
}

.d-block {
    display: block;
}

.mt-1 {
    margin-top: .75rem;
}

.mt-2 {
    margin-top: 1rem;
}


:root {
    --scrollbarBgColor: #343A4F;
    --scrollbarThumbColor: #149A80;
    --scrollbarWidth: 6px;
    --scrollbarBorder: 0 solid var(--scrollbarBgColor);
    --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 4);
}

.custom-scrollbar {
    scrollbar-width: var(--scrollbarWidth);
    scrollbar-color: var(--scrollbarThumbColor) var(--scrollbarBgColor);
}

.custom-scrollbar::-webkit-scrollbar {
    width: var(--scrollbarWidth);
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: var(--scrollbarBgColor);
    border-radius: var(--scrollbarBorderRadius);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumbColor);
    border-radius: var(--scrollbarBorderRadius);
    border: var(--scrollbarBorder);
    background-image: var(--scrollbarThumbColor)
}